<%- include('header'); -%>

  <h1>Selected articles</h1>

  <table id="catalog">

    <thead>

      <tr>

        <th>Name</th>

        <th scope="col">Reference</th>

        <th scope="col">Category</th>

        <th scope="col">Price</th>

        <th scope="col">Supplier</th>

        <th scope="col">VAT</th>

        <th scope="col">Stock</th>

        <th scope="col">Critical Stock</th>

      </tr>

    </thead>

    <tbody>

      <% { %>

      <tr>

        <th scope="row"><%= product.name %></th>

        <td><%= product.reference %></td>

        <td><%= product.category %></td>

        <td><%= product.price %>AED</td>

        <td><%= product.supplier %></td>

        <td><%= product.vat%>AED</td>

        <td><%= product.stock %></td>

        <td><%= product.critical_stock %></td>

      </tr>

      <% } %>

    </tbody>

  </table>

</div>

<br />

<%- include('footer'); -%>