<%- include('header'); -%>
    <div class="content">
        <table style="border-spacing: 20px;">
            <h1> <%= this.username %></h1>
                <thead>
                    <tr class="spaces">
                        <th scope="col"> Client Number</th>
                        <th scope="col">Contact</th>
                        <th scope="col">Society</th>
                        <th scope="col">Address</th>
                        <th scope="col">City</th>
                        <th scope="col">Zipcode</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Fax Number</th>
                        <th scope="col">Max Outstanding</th>

                    </tr>
                </thead>
                <tbody>
                    <br>
                    <tr class="spaces">

                        <td>
                            <%= this.num_client %>
                                <p> </p>
                            </td>

                            <td>
                                <%= this.contact %>
                                </td>
                                <td>
                                    <%= this.society %>
                                    </td>
                                    <td>
                                        <%= this.address %>
                                        </td>
                                        <td>
                                            <%= this.city %>
                                            </td>
                                            <td>
                                                <%= this.zipcode %>
                                                </td>
                                                <td>
                                                    <%= this.phone %>
                                                    </td>
                                                    <td>
                                                        <%= this.fax %>
                                                        </td>
                                                        <td>
                                                            <%=
                                                                this.max_outstanding
                                                                %>
                                                            </td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                            <br>
                                            <%- include('footer'); -%>